
.gradle/4.10/fileChanges/last-build.bin
.gradle/4.10/fileHashes/fileHashes.bin
.gradle/4.10/fileHashes/fileHashes.lock
.gradle/4.10/gc.properties
.gradle/4.10/taskHistory/taskHistory.bin
.gradle/4.10/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
